<section class="bg-primary" id="Rodrigo_García">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Rodrigo García</h2>
                <hr class="light">
                <p class="text-faded">Hola soy Rodrigo García,
tengo 16 años y me gustaría entar en el mundo de la fotografía y el video profesionalmente.
<br>
<br>
EXPERIENCIA en bodas, proyectos profesionales, eventos y cortometrajes.
Se me da bien todo lo relacionado con el proceso de vídeo y fotografía. Lo que mas me gusta sin duda es ser el operador de cámara, me gusta sobretodo lo que tiene que ver con la imagen. Normalmente soy el que dirijo, pero siempre estoy abierto a nuevas ideas.
<br>
<br>
NUEVOS PROYECTOS: Me encantan todo los tipos de proyectos y colaboraciones, si tienes alguna idea de algún proyecto en mente no dudes en contármela! Si la idea me interesa lo haré GRATIS!
Como si eres una compañía, una persona con un sueño, alguien que quiera hacer algún tipo de proyecto, contactame a este email rodrigogarciasaura@gmail.com, seguro que digo que SI.</p>
                <a href="#" class="btn btn-default btn-xl">¡Contacta conmigo!</a>
            </div>
        </div>
    </div>
</section>
